.App {
  display: flex;
  height: 350px;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -1px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgb(170, 21, 21);
}
button {
  font-weight: bolder;
  color: white;
  background-color: rgb(94, 196, 230);
  border: none;
  border-radius: 25px;
  height: 25px;
  outline-width: 0;
}

input {
  margin-bottom: 10px;
  color: white;
  background-color: rgb(170, 21, 21);
  border: none;
  height: 25px;
  outline-width: 0;
  border-bottom: 2px solid rgb(94, 196, 230);
}
